:root{
    --color-1: #003F42;
    --color-2: #177175;
    --color-3: #43A3A8;
    --color-4: #84D7DB;
    --color-5: #CCFCFF;

    --font-1-2: #fff;
    --font-3-4-5: #000;

    --color-negro: #000;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;


}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--color-1);
    color: var(--font-1-2);
    width: 100%;
    height: 5rem;
    padding: 0.5rem 0 0 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.contenedor_main{
    display: flex;
    margin: 10rem, 0rem, 0rem, 0rem;
}


nav{
    background-color: var(--color-2);
    color: var(--font-1-2);
    width: 15rem;
    height: 10rem;
    padding: 1rem 0 0 2%;
    position: sticky;
    top: 0;
}

a{
    color:var(--font-1-2);
}

main{
    background-color: var(--color-3);
    color: var(--font-1-2);
    width: 100%;
    height: auto;

}

h1,h2{
    text-align: center;
}
#titulo1{
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

#titulo2{
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.5rem;
}

table{
    background-color: var(--color-5);
    color: var(--font-3-4-5);
}

#tabla{
    display: grid;
    justify-content: center;
    padding: 1rem 0 0 1rem;
}

.tabla{
    border: 2px solid var(--color-negro);
    border-collapse: collapse;
    justify-content: center;
}

#tabla2{
    border: 2px solid var(--color-negro);
    border-collapse: collapse;
    margin: 0 0 0 1rem;
}

th, td{
    border: 1px solid var(--color-negro);
    padding: 0.1rem 0.5rem;
    text-align: center;
}

#regla_descendiente #titulo_regla{
    margin: 2rem;
    padding: 2rem;
    font-size: 2rem;
}

#imagen{
    display: flex;
    margin: auto;
    width: auto;
}

footer{
    background-color: #CCFCFF;
    width: auto;
    height: auto;
    display: flex;
    border: 2px solid var(--color-negro);
}

#foot1, #foot2, #foot3{
    width: 33%;
    height: auto;
    padding: 0.5rem;
}

#foot3{
    text-align:left;
}

#gif_golden_freddy{
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    padding: auto;
}